<%- include("../../partition/header.ejs") %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog" class="active">Blogs</a></li>
                            <li><a href="/admin/category">Categories</a></li>
                            <li><a href="/admin/contact_display">Contact</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
          <div class="col-md-8">
              <h1>About</h1>
            <form action="/admin/about_update/<%= data._id %>" method="post">
             
            

           
              <div class="form-group">
                <textarea name="description" rows="5" class="form-control" placeholder="Description"><%= data.description %></textarea>
              </div>
              
            
              <div class="form-group">
                  <button class="btn btn-info">Edit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
    <%- include("../../partition/footer.ejs") %>